.statistics {
  background-color: var(--secondary-bg-color);
  box-shadow: 3px 3px 3px 0px var(--secondary-text-color);
  border-radius: 10px;
  overflow: hidden;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  font-weight: 500;
}
