.transactionsTable {
  border: 1px solid var(--secondary-text-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 2px 0px var(--secondary-text-color);

  border-spacing: 1px;
}

.tHead {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--light-text-color);

  background-color: #507ddd;
}

.tHeadCell {
  min-width: 200px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.tRow:nth-child(odd) {
  background-color: var(--secondary-bg-color);
}
.tRow:nth-child(even) {
  background-color: var(--primary-bg-color);
}

.tData {
  padding-top: 8px;
  padding-bottom: 8px;

  text-align: center;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}
